[submodule "aes-bridge-php"]
	path = aes-bridge-php
	url = https://github.com/mervick/aes-bridge-php
[submodule "aes-bridge-python"]
	path = aes-bridge-python
	url = https://github.com/mervick/aes-bridge-python
[submodule "aes-bridge-js"]
	path = aes-bridge-js
	url = https://github.com/mervick/aes-bridge-js
[submodule "aes-bridge-ruby"]
	path = aes-bridge-ruby
	url = https://github.com/mervick/aes-bridge-ruby
[submodule "aes-bridge-dotnet"]
	path = aes-bridge-dotnet
	url = https://github.com/mervick/aes-bridge-dotnet
[submodule "aes-bridge-go"]
	path = aes-bridge-go
	url = https://github.com/mervick/aes-bridge-go
[submodule "aes-bridge-cpp"]
	path = aes-bridge-cpp
	url = https://github.com/mervick/aes-bridge-cpp
